# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

# Ignore IDEA config folder
.idea

# Ignore the default file for the serialized inverted index
CRAWLERINDEX.idx